[Desktop Entry]
Name=Add to Archive
Type=Application
Icon=add-files-to-archive
Exec=bash -c "cd $(dirname %f) && rar a -ep1 $(basename %f | cut -d. -f1).rar %f %F || read"
Categories=Other;
NoDisplay=false
MimeType=all/all;
Terminal=true