[Desktop Entry]
Name=Add to Archive
Type=Application
Icon=add-files-to-archive
Exec=bash -c "NAME=$(basename %f | cut -d. -f1).rar && cd $(dirname %f) && rar a -ep1 $NAME %f %F && notify-send \"Created $NAME\" || read"
Categories=Other;
NoDisplay=false
MimeType=all/allfiles;
Terminal=true