[Desktop Entry]
Type=Application
Name=Batch Rename
Exec=batch-rename.py %U
Icon=gtk-execute
Categories=Other;
MimeType=MimeType=all/all;
Terminal=false
X-KeepTerminal=false